#home-container {
  width: 100%;
}

.carousel-title {
  text-align: left;
  margin-left: 30px;
}
.wrapper {
  display: flex;
  position: relative;
  height: 400px;
  align-items: center;
  margin: 30px 20px 70px 20px;
}

#initialButton {
  width: 10vw;
  margin-left: 45vw;
}

.carousel-container {
  display: flex;
  width: max-content;
  transform: translateX(0px);
  transition: all 1s ease;
}

.sliderArrow {
  height: 100%;
  width: 50px;
  background-color: rgb(34, 33, 33, 0.5);
  position: absolute;
  z-index: 99;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
