#header {
  display: flex;
  padding: 10px;
  background: linear-gradient(#90e0ef, #00b4d8);
  align-items: center;
  justify-content: space-between;
}

#title {
  margin: 25px;
}

#navbar {
  margin: 25px;
}

.navButton {
  margin: 5px;
}
