header {
  text-align: center;
}

#title {
  color: red;
}

#navbar {
  background-color: yellow;

  display: flex;

  justify-content: space-evenly;
}

.navbar-btn {
  padding: 10px;

  margin: 5px;

  border: 2px solid black;
}

.navbar-btn:hover {
  cursor: pointer;
}
